[package]
name = "nx-std"
version = "0.1.0"
edition = "2024"

[lib]
name = "nx_std"
crate-type = ["rlib", "staticlib"]
test = false
doctest = false
bench = false

[features]
# All non-sys features are enabled by default
default = ["alloc", "rand", "sync", "time"]

# Low-level features
sys = ["svc", "sys-mem", "sys-sync", "sys-thread", "sys-thread-tls"]

# FFI overrides for libnx functions (only if the dependency is enabled)
ffi = [
    "nx-alloc?/ffi",
    "nx-rand?/ffi",
    "nx-rt?/ffi",
    "nx-service-sm?/ffi",
    "nx-sf?/ffi",
    "nx-std-sync?/ffi",
    "nx-svc?/ffi",
    "nx-sys-mem?/ffi",
    "nx-sys-sync?/ffi",
    "nx-sys-thread?/ffi",
    "nx-sys-thread-tls?/ffi",
    "nx-time?/ffi",
]

# High-level features
services = ["service-apm", "service-sm", "service-set"]

# Dependency features
alloc = ["dep:nx-alloc", "nx-alloc/global-allocator"]
rand = ["dep:nx-rand"]
rt = ["dep:nx-rt"]
service-apm = ["dep:nx-service-apm"]
service-set = ["dep:nx-service-set"]
service-sm = ["dep:nx-service-sm"]
sf = ["dep:nx-sf"]
svc = ["dep:nx-svc"]
sync = ["dep:nx-std-sync", "alloc"]
sys-mem = ["dep:nx-sys-mem", "alloc"]
sys-sync = ["dep:nx-sys-sync"]
sys-thread = ["dep:nx-sys-thread"]
sys-thread-tls = ["dep:nx-sys-thread-tls"]
time = ["dep:nx-time"]

[dependencies]
nx-alloc = { version = "0.1.0", path = "../nx-alloc", optional = true }
nx-panic-handler = { version = "0.1.0", path = "../nx-panic-handler" }
nx-rand = { version = "0.1.0", path = "../nx-rand", optional = true }
nx-rt = { version = "0.1.0", path = "../nx-rt", optional = true }
nx-service-apm = { version = "0.1.0", path = "../nx-service-apm", optional = true }
nx-service-set = { version = "0.1.0", path = "../nx-service-set", optional = true }
nx-service-sm = { version = "0.1.0", path = "../nx-service-sm", optional = true }
nx-sf = { version = "0.1.0", path = "../nx-sf", optional = true }
nx-std-sync = { version = "0.1.0", path = "../nx-std-sync", optional = true }
nx-svc = { version = "0.1.0", path = "../nx-svc", optional = true }
nx-sys-mem = { version = "0.1.0", path = "../nx-sys-mem", optional = true }
nx-sys-sync = { version = "0.1.0", path = "../nx-sys-sync", optional = true }
nx-sys-thread = { version = "0.1.0", path = "../nx-sys-thread", optional = true }
nx-sys-thread-tls = { version = "0.1.0", path = "../nx-sys-thread-tls", optional = true }
nx-time = { version = "0.1.0", path = "../nx-time", optional = true }
