[package]
name = "nx-std-sync"
version = "0.1.0"
edition = "2024"

[lib]
name = "nx_std_sync"
crate-type = ["rlib", "staticlib"]
test = false
doctest = false
bench = false

[features]
# Enable the __nx_std_sync FFI
ffi = []

[dependencies]
nx-alloc = { version = "0.1.0", path = "../nx-alloc", features = ["global-allocator"] }
nx-sys-sync = { version = "0.1.0", path = "../nx-sys-sync" }
panic-abort = "0.3.2"
panic-halt = "1.0.0"
thiserror = { version = "2.0.12", default-features = false }
