[submodule "subprojects/libnx"]
	path = subprojects/libnx
	url = git@github.com:LNSD/libnx.git
[submodule "subprojects/examples"]
	path = subprojects/examples
	url = git@github.com:LNSD/switch-examples.git
