[package]
name = "libnx-svc"
version = "0.1.0"
edition = "2021"

[lib]
name = "nx_svc"
crate-type = ["staticlib"]
test = false
doctest = false
bench = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
panic-abort = "0.3.2"
panic-halt = "1.0.0"
